
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
 
 
  *{ font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{

  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;

}

.logo{

  text-decoration: none;
  color: rgb(77, 255, 0);
  font-weight: 700;
  font-size: 1.8em;
}
 
.nav a{

  text-decoration: none;
  color:rgb(36, 36, 119); 
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.nav a:hover{

  color: tomato;
}

.main_section{
  padding: 100px 200px;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  background: url(sawir.jpeg) no-repeat;
  opacity: 1000%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 30px;
 

}
.main_section:hover{

  opacity: 95%;
  
  
}

.main_section h2{

  color: white;
  font-size: 1.4em;
  font-weight: 500;

}

.main_section h2 span{

  color: rgb(74, 74, 201);
  font-size: 3em;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
}

.main_section h3{

  color: white;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main_botton{

  color: white;
  background-color: rgb(74, 74, 201);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em ;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main_botton:hover{

  background-color: rgb(56, 65, 161);
  transform: scale(1.1);

}

.social_icons a{

  color: white;
  font-size: 1.7em;
  padding-right: 30px;
  

}




.title{
  display: flex;
  
  justify-content: center;
  color:rgb(56, 65, 161) ;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
  
 

}

.contect{

  display: flex;
  justify-content: center;
  flex-direction: row;
 flex-wrap: wrap;
 
 


}
.card{
  margin-top: 100px;
}

.cards{
  
  background-color: #ffffff;
  width: 21.25em;
  box-shadow: 0 10px 25px rgba(1 1 1 /100%);
  margin: 15px;
  border-radius: 10px;
  padding: 25px;
  transition: 0.7s ease;
  display: flex;
  display: table-row;
  margin-top: 30px;
  

}

.cards:hover{

  transform: scale(1.1);
}

.icon{

  font-size: 8em;
  text-align: center;
  color:rgb(36, 36, 119) ;
}

.info{

  text-align: center;
}
.info h3{

  color: rgb(36, 36, 119);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
.con{
  
  background-color: rgb(6, 6, 65) ;width: 100%;
}

.con .contect{
  margin-top: 30px;
  
 
}
.pr_card{

  
  border: 1px solid #fff;
  height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
  box-shadow: 0 10px 25px rgb(255, 255, 255);

}

.pr_card:hover{

  transform: scale(1.1);
}

.pr_image{
  
 width:100%;
 
 
}
.pr_image:hover{

  opacity: 80%;

}

.pr_info{

padding: 1em;

}

.pr_catocery{

  font-size: 0.8em;
  color: rgb(255, 255, 255);

}

.pr_title{

display: flex;
justify-content: space-between;
color: #fff;

}
.pr_detail ,span{
  color: #fff;
  padding-top: 1em;
}

#it{
  color: #fff;
  padding-top: 100px;
}